################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Proyecto/FileContentIndex/d31d2ec8-759c-4af5-82c8-950923afdffd.vsidx
/.vs/Proyecto/FileContentIndex/dd8a9078-aff8-4800-8d37-a532e60fc671.vsidx
/.vs/Proyecto/FileContentIndex/read.lock
